@inject HttpClient Client
@inject IDialogService DialogService
@inject LoginService LoginService
@inject NavigationManager NavigationManager

@page "/Register"

@if (LoginService.OnlyAdmin || !LoginService.LoginRequired)
{
    <MudText Typo="Typo.body1">Registration is currently closed.</MudText>
}
else
{
    <MudContainer>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="12" md="6" lg="4" class="mt-8">
                <MudCard Elevation="0" Outlined="true">
                    <MudCardContent>
                        <MudForm @ref="registerForm">
                            <MudText Typo="Typo.h5" Class="mb-4">Register</MudText>
                            <div style="display:flex;flex-direction:column;gap:15px;">
                            <MudTextField @bind-value="accessCode" InputType="InputType.Text" T="string"
                                          FullWidth="true" Required="@true" RequiredError="Access Code is required"
                                          Label="Access Code" Variant="Variant.Outlined" Margin="Margin.Dense" />
                            @if (LoginService.RegisterWithLastPlayTime)
                            {
                                <MudDatePicker @ref="datePicker" Label="Last Play Date" @bind-Date="date" AutoClose="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                <MudTimePicker @ref="timePicker" AmPm="true" Label="Last Play Time(5 min around credit end)" @bind-Time="time" AutoClose="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                            }
                            <MudTextField @bind-Value="password" InputType="InputType.Password"
                                          T="string" FullWidth="true" Required="@true"
                                          RequiredError="Password is required"
                                          Label="Password" Variant="Variant.Outlined" Margin="Margin.Dense">
                            </MudTextField>
                            <MudTextField @bind-Value="confirmPassword" InputType="InputType.Password"
                                          T="string" FullWidth="true" Required="@true"
                                          RequiredError="Confirm password is required"
                                          Label="Confirm Password" Variant="Variant.Outlined" Margin="Margin.Dense">
                            </MudTextField>
                            <MudButton OnClick="OnRegister" FullWidth="true" StartIcon="@Icons.Material.Filled.AddCard" Color="Color.Primary" Variant="Variant.Filled">Register</MudButton>
                            </div>      
                        </MudForm>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudContainer>
}
