@inject IGameDataService GameDataService
@inject HttpClient Client
@inject LoginService LoginService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@using TaikoWebUI.Utilities

@page "/Users/{baid:int}/Songs"

<MudBreadcrumbs Items="breadcrumbs" Class="p-0 mb-2"></MudBreadcrumbs>
<MudText Typo="Typo.h4">@Localizer["Key_01"]</MudText>

<MudGrid Class="my-8">
    @if (response is null)
    {
        <MudContainer Style="display:flex;margin:50px 0;align-items:center;justify-content:center;">
            <MudProgressCircular Indeterminate="true" Size="Size.Large" Color="Color.Primary" />
        </MudContainer>
    }
    else
    {
        @if (LoginService.LoginRequired && (!LoginService.IsLoggedIn || (LoginService.GetLoggedInUser().Baid != Baid && !LoginService.IsAdmin)))
        {
            if (!LoginService.IsLoggedIn)
            {
                NavigationManager.NavigateTo("/Login");
            }
            else
            {
                NavigationManager.NavigateTo("/");
            }
        }
        else
        {
            <MudItem xs="12">
                <MudTable Items="musicMap" Elevation="0" Outlined="true">
                    <HeaderContent>
                        <MudTh>Title</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTh>
                            <a href="@($"/Users/{Baid}/Songs/{context.SongId}")">
                                <MudText Typo="Typo.body2" Style="font-weight:bold">@context.SongNameEN</MudText>
                                <MudText Typo="Typo.caption">@context.ArtistNameEN</MudText>
							</a>
                        </MudTh>
                    </RowTemplate>
                </MudTable>
            </MudItem>
        }
    }
</MudGrid>