wwwroot/data/music_order.json
wwwroot/data/musicinfo.json
wwwroot/data/wordlist.json
wwwroot/data/datatable/*
wwwroot/data/*/datatable/*
wwwroot/taiko.db3
wwwroot/data/*/data/*
wwwroot/data/blue/data
wwwroot/data/yellow/data